secrets
/secrets
.secrets
.secrets/

TODO
TODO/
todo*

temp.txt

.env
.env/
.venv
.venv/

.DS_Store

.terraform
.terraform*
*.tfstate
*.tfstate.*

*.png
*.jpg
*.jpeg

audit
architecture.md

*.infracost
/.infracost
.infracost
.infracost/pricing.gob
.infracost/terraform_modules/manifest-652cf30254a00299549da3f0bc2733b4.json

actions/
actions*
.actions/
.actions*
.terraform/
.terragrunt-cache/
*.tfplan
tfplan.binary
tfplan.json
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

.gemini/
gha-creds-*.json

gemini*
commands

tfvars
schema.json

requirements.txt